In [2]:
import numpy as numpy
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
df=pd.read_csv(r'C:\Users\ADMIN\Downloads\Global_YouTube_Statistics_Content.csv',encoding='latin1')

In [3]:
df

,rank,Youtuber,subscribers,video views,category,Title,uploads,Country,Abbreviation,channel_type,video_views_rank,country_rank,channel_type_rank,video_views_for_the_last_30_days,created_year,created_month,created_date
0,1,T-Series,245000000,2.280000e+11,Music,T-Series,20082,India,IN,Music,1.0,1,1,2258000000,2006,Mar,13
1,2,YouTube Movies,170000000,0.000000e+00,Film & Animation,youtubemovies,1,United States,US,Games,4055159.0,7670,7423,12,2006,Mar,5
2,3,MrBeast,166000000,2.836884e+10,Entertainment,MrBeast,741,United States,US,Entertainment,48.0,1,1,1348000000,2012,Feb,20
3,4,Cocomelon - Nursery Rhymes,162000000,1.640000e+11,Education,Cocomelon - Nursery Rhymes,966,United States,US,Education,2.0,2,1,1975000000,2006,Sep,1
4,5,SET India,159000000,1.480000e+11,Shows,SET India,116536,India,IN,Entertainment,3.0,2,2,1824000000,2006,Sep,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
990,991,Natan por Aï¿,12300000,9.029610e+09,Sports,Natan por Aï¿,1200,Brazil,BR,Entertainment,525.0,55,172,552513000,2017,Feb,12
991,992,Free Fire India Official,12300000,1.674410e+09,People & Blogs,Free Fire India Official,1500,India,IN,Games,6141.0,125,69,64735000,2018,Sep,14
992,993,Panda,12300000,2.214684e+09,NaN,HybridPanda,2452,United Kingdom,GB,Games,129005.0,867,1202,67035,2006,Sep,11
993,994,RobTopGames,12300000,3.741235e+08,Gaming,RobTopGames,39,Sweden,SE,Games,35112.0,4,69,3871000,2012,May,9
994,995,Make Joke Of,12300000,2.129774e+09,Comedy,Make Joke Of,62,India,IN,Comedy,4568.0,125,44,24000000,2017,Aug,1

In [4]:
df.head()

,rank,Youtuber,subscribers,video views,category,Title,uploads,Country,Abbreviation,channel_type,video_views_rank,country_rank,channel_type_rank,video_views_for_the_last_30_days,created_year,created_month,created_date
0,1,T-Series,245000000,2.280000e+11,Music,T-Series,20082,India,IN,Music,1.0,1,1,2258000000,2006,Mar,13
1,2,YouTube Movies,170000000,0.000000e+00,Film & Animation,youtubemovies,1,United States,US,Games,4055159.0,7670,7423,12,2006,Mar,5
2,3,MrBeast,166000000,2.836884e+10,Entertainment,MrBeast,741,United States,US,Entertainment,48.0,1,1,1348000000,2012,Feb,20
3,4,Cocomelon - Nursery Rhymes,162000000,1.640000e+11,Education,Cocomelon - Nursery Rhymes,966,United States,US,Education,2.0,2,1,1975000000,2006,Sep,1
4,5,SET India,159000000,1.480000e+11,Shows,SET India,116536,India,IN,Entertainment,3.0,2,2,1824000000,2006,Sep,20

In [5]:
df.describe()

,rank,subscribers,video views,uploads,video_views_rank,country_rank,channel_type_rank,video_views_for_the_last_30_days,created_year,created_date
count,995.00000,9.950000e+02,9.950000e+02,995.000000,9.940000e+02,995.000000,995.000000,9.950000e+02,995.000000,995.000000
mean,498.00000,2.298241e+07,1.103954e+10,9187.125628,5.542489e+05,341.046231,720.986935,1.657267e+08,2002.516583,15.667337
std,287.37606,1.752611e+07,1.411084e+10,34151.352254,1.362782e+06,1164.728018,1916.500613,4.065010e+08,142.455353,8.826000
min,1.00000,1.230000e+07,0.000000e+00,0.000000,1.000000e+00,0.000000,0.000000,0.000000e+00,0.000000,0.000000
25%,249.50000,1.450000e+07,4.288145e+09,194.500000,3.230000e+02,5.000000,24.000000,1.351700e+07,2009.000000,8.000000
50%,498.00000,1.770000e+07,7.760820e+09,729.000000,9.155000e+02,34.000000,62.000000,5.635800e+07,2013.000000,16.000000
75%,746.50000,2.460000e+07,1.355470e+10,2667.500000,3.584500e+03,114.000000,137.000000,1.585655e+08,2016.000000,23.000000
max,995.00000,2.450000e+08,2.280000e+11,301308.000000,4.057944e+06,7741.000000,7741.000000,6.589000e+09,2022.000000,31.000000

In [6]:
unique_countries = df['Country'].unique()
unique_countries

array(['India', 'United States', nan, 'Japan', 'Russia', 'South Korea',
       'United Kingdom', 'Canada', 'Brazil', 'Argentina', 'Chile', 'Cuba',
       'El Salvador', 'Pakistan', 'Philippines', 'Thailand', 'Colombia',
       'Barbados', 'Mexico', 'United Arab Emirates', 'Spain',
       'Saudi Arabia', 'Indonesia', 'Turkey', 'Venezuela', 'Kuwait',
       'Jordan', 'Netherlands', 'Singapore', 'Australia', 'Italy',
       'Germany', 'France', 'Sweden', 'Afghanistan', 'Ukraine', 'Latvia',
       'Switzerland', 'Vietnam', 'Malaysia', 'China', 'Iraq', 'Egypt',
       'Andorra', 'Ecuador', 'Morocco', 'Peru', 'Bangladesh', 'Finland',
       'Samoa'], dtype=object)

In [15]:
num_unique_countries= len(unique_countries)
num_unique_countries

50

In [20]:
df.isna()

,rank,Youtuber,subscribers,video views,category,Title,uploads,Country,Abbreviation,channel_type,video_views_rank,country_rank,channel_type_rank,video_views_for_the_last_30_days,created_year,created_month,created_date
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
990,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
991,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
992,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False
993,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
994,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [45]:
nan_df=df.isna().sum()
nan_df

rank                                  0
Youtuber                              0
subscribers                           0
video views                           0
category                             46
Title                                 0
uploads                               0
Country                             122
Abbreviation                        122
channel_type                         30
video_views_rank                      1
country_rank                          0
channel_type_rank                     0
video_views_for_the_last_30_days      0
created_year                          0
created_month                         5
created_date                          0
dtype: int64

In [36]:
df[['CATEGORY', 'COUNTRY','ABBREVIATION','CHANNEL_TYPE']] = df[['category', 'Country','Abbreviation','channel_type']].fillna('Unspecified')
df

,rank,Youtuber,subscribers,video views,category,Title,uploads,Country,Abbreviation,channel_type,...,video_views_for_the_last_30_days,created_year,created_month,created_date,CATEGORY,COUNTRY,ABBREVIATION,CHANNEL_TYPE,CREATED_DATE,VIDEO_VIEWS_RANK
0,1,T-Series,245000000,2.280000e+11,Music,T-Series,20082,India,IN,Music,...,2258000000,2006,Mar,13,Music,India,IN,Music,13,1.0
1,2,YouTube Movies,170000000,0.000000e+00,Film & Animation,youtubemovies,1,United States,US,Games,...,12,2006,Mar,5,Film & Animation,United States,US,Games,5,4055159.0
2,3,MrBeast,166000000,2.836884e+10,Entertainment,MrBeast,741,United States,US,Entertainment,...,1348000000,2012,Feb,20,Entertainment,United States,US,Entertainment,20,48.0
3,4,Cocomelon - Nursery Rhymes,162000000,1.640000e+11,Education,Cocomelon - Nursery Rhymes,966,United States,US,Education,...,1975000000,2006,Sep,1,Education,United States,US,Education,1,2.0
4,5,SET India,159000000,1.480000e+11,Shows,SET India,116536,India,IN,Entertainment,...,1824000000,2006,Sep,20,Shows,India,IN,Entertainment,20,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
990,991,Natan por Aï¿,12300000,9.029610e+09,Sports,Natan por Aï¿,1200,Brazil,BR,Entertainment,...,552513000,2017,Feb,12,Sports,Brazil,BR,Entertainment,12,525.0
991,992,Free Fire India Official,12300000,1.674410e+09,People & Blogs,Free Fire India Official,1500,India,IN,Games,...,64735000,2018,Sep,14,People & Blogs,India,IN,Games,14,6141.0
992,993,Panda,12300000,2.214684e+09,NaN,HybridPanda,2452,United Kingdom,GB,Games,...,67035,2006,Sep,11,Unspecified,United Kingdom,GB,Games,11,129005.0
993,994,RobTopGames,12300000,3.741235e+08,Gaming,RobTopGames,39,Sweden,SE,Games,...,3871000,2012,May,9,Gaming,Sweden,SE,Games,9,35112.0
994,995,Make Joke Of,12300000,2.129774e+09,Comedy,Make Joke Of,62,India,IN,Comedy,...,24000000,2017,Aug,1,Comedy,India,IN,Comedy,1,4568.0

In [22]:
df.dtypes

rank                                  int64
Youtuber                             object
subscribers                           int64
video views                         float64
category                             object
Title                                object
uploads                               int64
Country                              object
Abbreviation                         object
channel_type                         object
video_views_rank                    float64
country_rank                          int64
channel_type_rank                     int64
video_views_for_the_last_30_days      int64
created_year                          int64
created_month                        object
created_date                          int64
CATEGORY                             object
COUNTRY                              object
ABBREVIATION                         object
CHANNEL_TYPE                         object
CREATED_DATE                          int64
dtype: object

In [10]:
df.isna().sum()

rank                                  0
Youtuber                              0
subscribers                           0
video views                           0
category                             46
Title                                 0
uploads                               0
Country                             122
Abbreviation                        122
channel_type                         30
video_views_rank                      1
country_rank                          0
channel_type_rank                     0
video_views_for_the_last_30_days      0
created_year                          0
created_month                         5
created_date                          0
CATEGORY                              0
COUNTRY                               0
ABBREVIATION                          0
CHANNEL_TYPE                          0
dtype: int64

In [16]:
mean_created_date = df['created_date'].mean().round()
mean_created_date

16.0

In [25]:
df['CREATED_DATE'] = df['created_date'].fillna(mean_created_date)
df

,rank,Youtuber,subscribers,video views,category,Title,uploads,Country,Abbreviation,channel_type,...,channel_type_rank,video_views_for_the_last_30_days,created_year,created_month,created_date,CATEGORY,COUNTRY,ABBREVIATION,CHANNEL_TYPE,CREATED_DATE
0,1,T-Series,245000000,2.280000e+11,Music,T-Series,20082,India,IN,Music,...,1,2258000000,2006,Mar,13,Music,India,IN,Music,13
1,2,YouTube Movies,170000000,0.000000e+00,Film & Animation,youtubemovies,1,United States,US,Games,...,7423,12,2006,Mar,5,Film & Animation,United States,US,Games,5
2,3,MrBeast,166000000,2.836884e+10,Entertainment,MrBeast,741,United States,US,Entertainment,...,1,1348000000,2012,Feb,20,Entertainment,United States,US,Entertainment,20
3,4,Cocomelon - Nursery Rhymes,162000000,1.640000e+11,Education,Cocomelon - Nursery Rhymes,966,United States,US,Education,...,1,1975000000,2006,Sep,1,Education,United States,US,Education,1
4,5,SET India,159000000,1.480000e+11,Shows,SET India,116536,India,IN,Entertainment,...,2,1824000000,2006,Sep,20,Shows,India,IN,Entertainment,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
990,991,Natan por Aï¿,12300000,9.029610e+09,Sports,Natan por Aï¿,1200,Brazil,BR,Entertainment,...,172,552513000,2017,Feb,12,Sports,Brazil,BR,Entertainment,12
991,992,Free Fire India Official,12300000,1.674410e+09,People & Blogs,Free Fire India Official,1500,India,IN,Games,...,69,64735000,2018,Sep,14,People & Blogs,India,IN,Games,14
992,993,Panda,12300000,2.214684e+09,NaN,HybridPanda,2452,United Kingdom,GB,Games,...,1202,67035,2006,Sep,11,Unspecified,United Kingdom,GB,Games,11
993,994,RobTopGames,12300000,3.741235e+08,Gaming,RobTopGames,39,Sweden,SE,Games,...,69,3871000,2012,May,9,Gaming,Sweden,SE,Games,9
994,995,Make Joke Of,12300000,2.129774e+09,Comedy,Make Joke Of,62,India,IN,Comedy,...,44,24000000,2017,Aug,1,Comedy,India,IN,Comedy,1

In [39]:
df_dropped = df.drop(['category', 'Country','created_date','Abbreviation','channel_type','VIDEO_VIEWS_RANK'], axis=1)
df_dropped

,rank,Youtuber,subscribers,video views,Title,uploads,video_views_rank,country_rank,channel_type_rank,video_views_for_the_last_30_days,created_year,created_month,CATEGORY,COUNTRY,ABBREVIATION,CHANNEL_TYPE,CREATED_DATE
0,1,T-Series,245000000,2.280000e+11,T-Series,20082,1.0,1,1,2258000000,2006,Mar,Music,India,IN,Music,13
1,2,YouTube Movies,170000000,0.000000e+00,youtubemovies,1,4055159.0,7670,7423,12,2006,Mar,Film & Animation,United States,US,Games,5
2,3,MrBeast,166000000,2.836884e+10,MrBeast,741,48.0,1,1,1348000000,2012,Feb,Entertainment,United States,US,Entertainment,20
3,4,Cocomelon - Nursery Rhymes,162000000,1.640000e+11,Cocomelon - Nursery Rhymes,966,2.0,2,1,1975000000,2006,Sep,Education,United States,US,Education,1
4,5,SET India,159000000,1.480000e+11,SET India,116536,3.0,2,2,1824000000,2006,Sep,Shows,India,IN,Entertainment,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
990,991,Natan por Aï¿,12300000,9.029610e+09,Natan por Aï¿,1200,525.0,55,172,552513000,2017,Feb,Sports,Brazil,BR,Entertainment,12
991,992,Free Fire India Official,12300000,1.674410e+09,Free Fire India Official,1500,6141.0,125,69,64735000,2018,Sep,People & Blogs,India,IN,Games,14
992,993,Panda,12300000,2.214684e+09,HybridPanda,2452,129005.0,867,1202,67035,2006,Sep,Unspecified,United Kingdom,GB,Games,11
993,994,RobTopGames,12300000,3.741235e+08,RobTopGames,39,35112.0,4,69,3871000,2012,May,Gaming,Sweden,SE,Games,9
994,995,Make Joke Of,12300000,2.129774e+09,Make Joke Of,62,4568.0,125,44,24000000,2017,Aug,Comedy,India,IN,Comedy,1

In [47]:
mean_video_views_rank= pd.DataFrame(df.groupby('CATEGORY')['video_views_rank'].mean())
mean_video_views_rank

                       video_views_rank
CATEGORY
Autos & Vehicles           8.415000e+02
Comedy                     4.058789e+05
Education                  3.614044e+05
Entertainment              6.167031e+05
Film & Animation           7.925529e+05
Gaming                     6.010272e+05
Howto & Style              4.815907e+05
Movies                     8.400000e+02
Music                      4.041852e+05
News & Politics            3.250163e+05
Nonprofits & Activism      1.537500e+03
People & Blogs             7.433466e+05
Pets & Animals             1.013181e+06
Science & Technology       7.128223e+05
Shows                      3.124532e+05
Sports                     1.650182e+03
Trailers                   1.800000e+02
Travel & Events            2.691000e+03
Unspecified                8.203888e+05

In [46]:
category = df.category.unique().tolist()
for i in category:
        if df['category'].isna().any():
            if i in mean_video_views_rank:
                df.loc[df['category'] == i, 'video_views_rank'] = df.loc[df['category'] == i, 'video_views_rank'].fillna(mean_video_views_rank[i])

In [51]:
mean_video_views_rank

                       video_views_rank
CATEGORY
Autos & Vehicles           8.415000e+02
Comedy                     4.058789e+05
Education                  3.614044e+05
Entertainment              6.167031e+05
Film & Animation           7.925529e+05
Gaming                     6.010272e+05
Howto & Style              4.815907e+05
Movies                     8.400000e+02
Music                      4.041852e+05
News & Politics            3.250163e+05
Nonprofits & Activism      1.537500e+03
People & Blogs             7.433466e+05
Pets & Animals             1.013181e+06
Science & Technology       7.128223e+05
Shows                      3.124532e+05
Sports                     1.650182e+03
Trailers                   1.800000e+02
Travel & Events            2.691000e+03
Unspecified                8.203888e+05

In [55]:
country_counts= df['Country'].value_counts()
country_counts

Country
United States           313
India                   168
Brazil                   62
United Kingdom           43
Mexico                   33
Indonesia                28
Spain                    22
Thailand                 18
South Korea              17
Russia                   16
Canada                   15
Argentina                13
Philippines              12
Colombia                 11
Australia                 9
Saudi Arabia              9
Ukraine                   8
United Arab Emirates      7
Germany                   6
Pakistan                  6
France                    5
Japan                     5
Turkey                    4
Sweden                    4
Vietnam                   3
Jordan                    3
Netherlands               3
Singapore                 3
Chile                     3
Egypt                     2
Ecuador                   2
Iraq                      2
Italy                     2
China                     1
Peru                      1
Andorra                   1
Bangladesh                1
Finland                   1
Morocco                   1
Kuwait                    1
Malaysia                  1
Switzerland               1
Latvia                    1
Afghanistan               1
Venezuela                 1
Barbados                  1
El Salvador               1
Cuba                      1
Samoa                     1
Name: count, dtype: int64

In [56]:
top_5_countries = country_counts.head(5)
top_5_countries

Country
United States     313
India             168
Brazil             62
United Kingdom     43
Mexico             33
Name: count, dtype: int64

In [58]:
if isinstance(top_5_countries, pd.Series):
    top_5_countries = top_5_countries.to_frame().reset_index()

In [59]:
if 'created_year' in top_5_countries.columns and 'Total' in top_5_countries.columns and 'Entity' in top_5_countries.columns:
    sns.lineplot(data=top_5_countries, x='created_year', y='Total', hue='Entity')

Ensure the DataFrame has 'created_year', 'Total', and 'Entity' columns.

In [61]:
sns.lineplot(top_5_countries,x='created_year',y='Total',hue='top_5_countries')

ValueError: Could not interpret value `created_year` for `x`. An entry with this name does not appear in `data`.